.input:focus {
    border: 3px solid #D1D1D1;
}

.input {
    box-sizing: border-box;
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.superInput {

}

.errorInput {
    box-sizing: border-box;
    border: 1px solid #CC1439;
    border-radius: 5px;
}

.errorInput:focus {
}

.error {

    width: 25px;
    height: 12px;
    left: 0;


    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #CC1439;
}
