.friendMessage {
background-color: red;
}

.friendImageAndText {
    display: flex;

}

.friendImageAndText img {
    height: 70px;
}

.friendText {
    background-color: #f5f7fb;
padding: 10px;
}

.friendText:after {

}

.friendName {
color: #FFFFFF;
    font-weight: 600;
}

.friendMessageText {

}

.friendTime {

}
